html,body{
  margin-top: 45px;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.navbar{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.btn{
  margin: 8px;
}


h3{
  color: red;
}

.jumbotron{
  padding: 30px;


}
.rules{
  letter-spacing: 1px;
  font-size: 18px;
}

.foot{
  color: gray;
  padding-right: 5px;
}


.footer{
  padding: 25px;
  -moz-align-self: -moz-flex-end;
  -webkit-align-self: -webkit-flex-end;
  -ms-align-self: -ms-flex-end;
  background: #252830;
  text-align: center;
  position: relative;

  bottom: 0;
  left: 0;
  width: 100%;
}
